<html>
  <head>
    <title>Invoices</title>
    <link rel="stylesheet" href="/index.css">
  </head>
  <body>
    <nav class="nav-bar">
      <div class="left"><a href="/">Little Shop</a></div>
      <div class="repositories">
        <a href="/merchants">Merchants</a>
        <a href="/items">Items</a>
        <a href="/invoices">Invoices</a>
      </div>
    </nav>
    <header class="header">
      <div class="dashboard-link"><a href="/invoices-dashboard">Dashboard</a></div>
      <div class="title-and-button">
        <h1 class="header-title">Invoices</h1>
      </div>
    </header>
    <section class="middle-part">
      <% if @invoices%>
        <% @invoices.each_with_index do |invoice, index| %>
        <article class="object-box <%= "gray" if index % 2 == 0 %>">
          <div class="left"><a href="/invoices/<%= invoice.id %>" id='id-<%= invoice.id %>'><%= invoice.id %></a></div>
          <div class="button-box">
            <form action="/invoices/<%=invoice.id%>/edit" method="get">
              <input id="edit-<%= invoice.id %>" type="submit"  value="edit" class="button edit">
            </form>
            <form id="delete-<%= invoice.id %>" action="/invoices/<%= invoice.id %>" method="POST">
              <input type="hidden" name="_method" value="DELETE">
              <input type="submit" value="Delete" class="button delete"/>
            </form>
          </div>
        </article>
        <% end %>
      <% end %>
    </section>
  </body>
</html>
