<html>
  <head>
    <title>Invoices</title>
  </head>
  <body>
    <h1>Invoices</h1>

    <% if @invoices%>
      <% @invoices.each do |invoice| %>
      <a href="/invoices/<%= invoice.id %>" id='id-<%= invoice.id %>'><%= invoice.id %></a>
      <p>Status: <%= invoice.status %></p>
      <form action="/invoices/<%=invoice.id%>/edit" method="get">
        <input id="edit-<%= invoice.id %>" type="submit"  value="edit">
      </form>
      <form id="delete-<%= invoice.id %>" action="/invoices/<%= invoice.id %>" method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="delete"/>
      </form>
      <% end %>
    <% end %>
  </body>
</html>
