  <head>
    <title>Invoice Dashboard</title>
    <link rel="stylesheet" href="/nav-bar.css">
    <link rel="stylesheet" href="/dashboard.css">
  </head>
  <body>
    <nav class="nav-bar">
      <div class="left"><a href="/">Little Shop</a></div>
        <div class="repositories">
          <a href="/merchants">Merchants</a>
          <a href="/items">Items</a>
          <a href="/invoices">Invoices</a>
        </div>
      </div>
    </nav>
    <header class="header">
        <h1 class="header-title">Invoices Dashboard</h1>
    </header>
    <section class="each-objects">
      <div class="invoice-status-percentages">
        <article class="object-box">
          <h4>Status Percentages</h4>
          <p>Pending: <%= @pending_percent.to_i %>%</p>
          <p>Shipped: <%= @shipped_percent.to_i %>%</p>
          <p>Returned: <%= @returned_percent.to_i %>%</p>
        </article>
      </div>
      <div class="invoice-unit-prices">
        <article class="object-box">
          <h4>Unit Prices</h4>
          <h4 >Highest</h4>
          <div>Invoice: </div><a id="high-invoice-price" href="/invoices/<%= @max_invoice.id %>"><%= @max_invoice.id %></a>
          <h4>Lowest</h4>
          <div>Invoice: </div><a id="low-invoice-price" href="/invoices/<%= @min_invoice.id %>"><%= @min_invoice.id %></a>
        </article>
      </div>
      <div class="invoice-quantity">
        <article class="object-box">
          <h4>Quantity</h4>
          <h4>Highest</h4>
          <div>Invoice: </div><a id="high-invoice-quantity" href="/invoices/<%= @max_quantity.id %>"><%= @max_quantity.id %></a>
          <h4>Lowest</h4>
          <div>Invoice: </div><a id="low-invoice-quantity" href="/invoices/<%= @min_quantity.id %>"><%= @min_quantity.id %></a>
        </article>
      </div>
    </section>
  </body>
</html>
