<html>
  <head>
    <title>Invoices</title>
    <link rel="stylesheet" href="/nav-bar.css" type="text/css">
    <link rel="stylesheet" href="/show.css" type="text/css">
  </head>
  <body>
    <nav class="nav-bar">
      <div class="left"><a href="/">Little Shop</a></div>
      <div class="repositories">
        <a href="/merchants">Merchants</a>
        <a href="/items">Items</a>
        <a href="/invoices">Invoices</a>
      </div>
    </nav>
    <% if @invoice %>
      <header class="header">
        <h1 class="header-title">Invoice: <%= @invoice.id %> - <%= @invoice.status %></h1>
          <article class="form-box">
            <a class="no-underline" href="/invoices/<%= @invoice.id %>/edit"><div class="yellow-button">Edit</div></a>
            <form class="form" action="/invoices/<%= @invoice.id %>" method="POST">
              <input type="hidden" name="_method" value="DELETE">
              <input type="submit" value="Delete" class="button">
            </form>
          </article>
      </header>
      <div class="title-box">
        <div class="titley-box large-text">Total Price: $<%= @invoice.total_price %></div>
        <div class="linky-box"><a href="/merchants/<%= @invoice.merchant.id %>"><%= @invoice.merchant_name %></a></div>
      </div>
    <% end %>
      <section class="middle">
        <% if @invoice.merchant %>
          <article class="object-box gray">
            <div class="small-box">Item Id</div>
            <div class="large-box">Item Title</div>
            <div class="small-box">Quantity</div>
            <div class="small-box">Unit Price</div>
          </article>
          <% @invoice.invoice_items.each_with_index do |invoice_item, index| %>
          <article class="object-box <%= "gray" if index % 2 != 0 %>">
            <div class="small-box"><a href="/items/<%= invoice_item.item_id %>"><%= invoice_item.item_id %></a></div>
            <div class="large-box"><%= invoice_item.item_title %></div>
            <div class="small-box"><%= invoice_item.quantity %></div>
            <div class="small-box"><%= invoice_item.money %></div>
          </article>
          <% end %>
        <% end %>
      </section>
  </body>
</html>
