<html>
  <head>
    <title>merchants</title>
  </head>
  <body>
    <h1>Merchants</h1>
    <div>
      <a href="/merchants/new" class="new-merchant"><button class="new-merchant">Create a new Merchant</button></a>
    </div>

    <% if @merchants%>
      <% @merchants.each do |merchant| %>
      <ul id='merchant-<%= merchant.id %>'>
        <li id='id-<%= merchant.id %>'>id: <%= merchant.id %></li>
        <li id='name-<%= merchant.id %>'>name: <%= merchant.name %></li>
        <li id='created_at-<%= merchant.id %>'>created_at: <%= merchant.created_at %></li>
        <li id='updated_at-<%= merchant.id %>'>updated_at: <%= merchant.updated_at %></li>
      </ul>
      <form action="/merchants/<%=merchant.id%>/edit" method="get">
        <input id="edit-<%= merchant.id %>" type="submit"  value="edit">
      </form>
      <form id="delete-<%= merchant.id %>" action="/merchants/<%= merchant.id %>" method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="delete"/>
      </form>
      <% end %>
    <% end %>
  </body>
</html>
