<html>
  <head>
    <title>merchants</title>
  </head>
  <body>
    <nav>
      <a href="/">Little Shop</a>
      <a href="/merchants">Merchants</a>
      <a href="/items">Items</a>
      <a href="/invoices">Invoices</a>
    </nav>
    <h1>Merchants</h1>
    <div>
      <a href="/merchants/new" class="new-merchant"><button class="new-merchant">Create a new Merchant</button></a>
    </div>

    <% if @merchants%>
      <% @merchants.each do |merchant| %>
      <a href="/merchants/<%= merchant.id %>" id='name-<%= merchant.id %>'><%= merchant.name %></a>
      <form action="/merchants/<%=merchant.id%>/edit" method="get">
        <input id="edit-<%= merchant.id %>" type="submit"  value="edit">
      </form>
      <form id="delete-<%= merchant.id %>" action="/merchants/<%= merchant.id %>" method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="delete"/>
      </form>
      <% end %>
    <% end %>
  </body>
</html>
