<html>
  <head>
    <title>merchants</title>
  </head>
  <body>
    <% if @merchant%>
      <ul>
        <p>name: <%= @merchant.name %></p>
        <p>items: <% @merchant.items.each do |item| %>
                      <ul>
                        <li><a href="/items/<%= item.id %>"><%= item.title %></a></li>
                        <li>$<%= item.money %></li>
                        <li><img src="<%= item.image %>" alt="dog"></li>
                      </ul>
                  <% end %>
      </p>
      <form action="/merchants/<%= @merchant.id %>" method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="delete"/>
      </form>
    <% end %>
  </body>
</html>
