<html>
  <head>
    <link rel="stylesheet" href="/nav-bar.css">
    <link rel="stylesheet" href="/dashboard.css">
    <title>Item Dashboard</title>
  </head>
  <body>
    <nav class="nav-bar">
      <div class="left"><a href="/">Little Shop</a></div>
        <div class="repositories">
          <a href="/merchants">Merchants</a>
          <a href="/items">Items</a>
          <a href="/invoices">Invoices</a>
        </div>
      </div>
    </nav>
    <header class="header">
      <h1 class ="header-title">Items Dashboard</h1>
    </header>
    <section class="middle-part">
      <p>Total Item Count<br/><%= @items_count%></p>
      <p>Avg Price Per Item<br/><%= @items.average_price%></p>
      <p>Item by Age</p>
      <div class="newest">Newest Item:<a href="/items/<%=@newest.id%>"> <%= @newest.title%></a></div>
      <div class="oldest">Oldest Item:<a href="/items/<%=@oldest.id%>"> <%= @oldest.title%></a></div>
  </section>
  </body>
</html>
