<html>
  <head>
    <title>Items</title>
  </head>
  <body>
    <nav>
      <a href="/">Little Shop</a>
      <a href="/merchants">Merchants</a>
      <a href="/items">Items</a>
      <a href="/invoices">Invoices</a>
    </nav>
    <h1>Items</h1>
    <div>
      <a href="/items/new" class="new-item"><button class="new-item">Create A New Item</button></a>
    </div>
    <% if @items%>
      <% @items.each do |item| %>
      <img src="<%= item.image %>"><br>
      <a href="/items/<%= item.id %>" id='title-<%= item.id %>'><%= item.title %></a><br>
      <dib>$<%= item.money %></div><br>
      <% end %>
    <% end %>
  </body>
</html>
