<html>
  <head>
    <title>Item</title>
  </head>
  <body>
    <nav>
      <a href="/">Little Shop</a>
      <a href="/merchants">Merchants</a>
      <a href="/items">Items</a>
      <a href="/invoices">Invoices</a>
    </nav>
    <h1>Item</h1>
    <form action="/items/<%= @item.id %>/edit" method="get">
      <input type="submit" value="edit">
    </form>
    <form action="/items/<%= @item.id %>" method="post">
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" value="delete">
    </form>
    <ul>
      <li><%= @item.title %></li>
      <li><%= @item.description %></li>
      <li><%= "$#{@item.money}" %></li>
      <li><img src="<%= @item.image %>"></li>
    </ul>
  </body>
</html>
